a.a_button(name="anchor" href="/temporary_administrative_panel")
    img(src="/images/logo.svg")

hr.horizontal_line

ul.ul_button
    button(
        data-target="#tab_add_product" 
        id="add_product"
    ) Agregar producto
    button(
        data-target="#tab_add_tag" 
        id="add_tag"
    ) Etiquetas
    button(
        data-target="#tab_my_profile" 
        id="my_profile"
    ) Mi perfil

hr.horizontal_line







